* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.left {
    width: 25vw;
}

.right {
    width: 75vw;
}

.home ul li {

    list-style: none;
    display: flex;
    width: 15px;
    gap: 7px;
    padding-top: 17px;
}
.close{
    display: none;
}
.logo{
    display: flex;
    justify-content:space-between;
}
.invert {
    filter: invert(1);
}

.heading {
    font-weight: 400;
    font-size: medium;
    gap: 8px;
   
}

.library {
    min-height: 75vh;
    position: relative;
}
.footer{
    
    font-size:small;
    display: flex;
    position: absolute;
    bottom: 10px;
    gap:10px;
    padding:25 0px;
}
.footer a{
    color:grey;
    
}
.header{
    justify-content: space-between;
    padding:15px;
    display: flex;
    background-color: rgb(34,34,34);
    
}
.right{
    margin-top: 19px;
    max-height: 100vh;
    
}

.header .nav{
    display: flex;
    margin-top: 10px;
}
.hamb{
    display: none;
}
.header .buttons{
    margin-top: 10px;
}
.header button{
    padding:0 5px;
    margin:0 3px;
}
.spotify{
    max-height: 77vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y:hidden;
}
.spotify h3{
    padding:9px;
}
.cardcontainer{
    margin:20px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: scroll;
}
.card{
    border-radius: 7px;
    background-color: #252525;
    width:210px;
    padding: 5px;

}
.card >*{
    padding:0 5px;
}
.card img{
    padding:5px;
    width:95%;
    object-fit: contain;
}
.card a{
    color: white;
    text-decoration: none;
}
.buttons button{
    background-color:rgb(34,34,34);
    border: none;
    font-size: medium;
    color: rgb(82,82,82);
    font-weight:100;
    cursor: pointer;
}
.buttons .btn-2{
    background-color: white;
    width:100px;
    border-radius: 22px;
    padding:10px;
}
.buttons .btn-2:hover{
    font-weight: bold;
    cursor: pointer;
    color:black;
    padding:7px;
}
.buttons button:hover{
    color: white;
    font-size: 1.1rem;
}
.playbar{
    position: sticky;
    width:90%;
    margin:19px 10px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 9px;
    justify-items: center;
    padding: 6px;
    min-height: 40px;
}
.playbar .seekbar{
    position: absolute;
    height:3px;
    width: 98.5%;
    border: 1px solid black;
    bottom:0px;
    border-radius: 3px;

}
.circle{
    height:12px;
    width:12px;
    top:-5px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

.songs img{
    margin: 0 5px;
}
.songplaylist{
    height:455px;
    overflow-y:auto;
    margin:14px 0px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.songplaylist ul{
    
    padding:0 42px;
    list-style: none;
    margin: 25px -35px;

}
.songplaylist ul li{
    display: flex;
    list-style: none;
    gap:25px;
    width:270px;
    padding: 15px 10px;
    border:2px solid white;
    margin:15px 0;
    border-radius: 5px;
}
.one :nth-child(1){
    font-size: 14px;
    font-weight: 100;
}
.one :nth-child(2){
    font-size: 10px;
}
.songplaylist ul li img {
    cursor:pointer;
}
.playnow{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    
    width:60px;
    padding:0 0px;
    font-size: small;
}
#play{
    cursor: pointer;
}
.raj{
    display: flex;
}
.hambcont{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width :1470px) {
    .left{
        position: absolute;
        left:-110%;
        transition: all .3s;
        z-index: 1;
        width:350px;
        background-color: black;
    }
    .close{
        display: block;
        transition: all 1s;
    }
    .card{
        width:88vw;
    }
    .cardcontainer{
         justify-content: center;
    }
    .right{
        width:100vw;
    }
    .playbar{
        width:93vw;
    }
    .playbar .seekbar{
        width:98%;
    }
    
    .raj{
       
        width:350px;
        align-items: center;
        display: flex;
        gap:10px;
    }
    .songinfo{
       
        width:150px;
    }
    .songs{
        padding-right: 0px;
        position: sticky;
        display: flex;
    }
   
    .hamb{ 
        display:block;
    }
}